
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.375;
    color: #373535;
    background: white;
    margin: 0;
    padding: 0;
}


.intro {
    font-size: 1.25em;
}
h2 {
    font-size: 1.5em;
    margin-top: 2em;

}
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    border-bottom: 1px solid;
}
a,
a:link,
a:visited {
    color: #13935E;
}

a:hover,
a:focus,
a:active {
    color: #17C17C;
}



header {
    border-bottom: 7px solid #373535;
    padding: 1.5em 2em 1em 10em;
    overflow: hidden;
}
header .logo-link,
header .logo-link:link,
header .logo-link:hover,
header .logo-link:visited,
header .logo-link:focus,
header .logo-link:active {
    border: none;
    color: #373535;
    display: block;
    text-decoration: none;
}

header .logo { 
    width: 6em;
    margin-left: -8em;
    float: left;
}
header h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0 0 0.2em 0;
    padding: 0

}
header .intro {
    font-size: 1.625em;
    margin: 0;
}
footer {
    padding: 1em 2em;
    border-top: 7px solid #373535;
    margin-top: 1em;
}
section {
    padding: 1em 2em;
}
.cal {
    padding: 1em 0;
    clear: both;
    position: relative; 
    padding-bottom: 75%; 
    height: 0; 
    overflow: hidden;
 
}
 
.cal iframe {
    position: absolute; 
    top:0; 
    left: 0; 
    width: 100%; 
    height: 100%;
 
}

@media only screen and (max-width: 600px) {
    section,
    footer {
        padding-right: 1em;
        padding-left: 1em;
    }
    header {
        padding-right: 9em;
        padding-left: 1em;
    }
    header .logo { 
        margin-right: -8em;
        margin-left: 0;
        float: right;
    }
    header h1 {
        font-size: 1.25em;
        margin-bottom: 0.3em;
    }
    .intro {
        font-size: 1.125em;
        margin-top: 0;
    }
    header .intro {
        font-size: 1em;
    }
}